[REFACTORING]

# Número máximo de bloques anidados.
max-nested-blocks = 4


[BASIC]

# Nombres que no se deben usar
bad-names=kk, caca

# Estilo de nombrado de módulo
module-naming-style=PascalCase

# Estilo de nombrado de argumentos.
argument-naming-style=camelCase

# Estilo de nombrado de atributos.
attr-naming-style=camelCase

# Estilo de nombrado de clases.
class-naming-style=PascalCase

# Estilo de nombrado de variables.
variable-naming-style=snake_case

# Estilo de nombrado de constantes.
const-naming-style=UPPER_CASE

# Estilo de nombrado de funciones
function-naming-style=camelCase

# Estilo de nombrado de métodos.
method-naming-style=camelCase

# Número mínimo de lineas que debe tener un comentario en bloque.
# Son dos ya que pondremos en una el autor del documento y
# en la otra la fecha de última modificación.
docstring-min-length=2

# Expresión regular para indicar las funciones que
# no requieren un comentario.
no-docstring-rgx=^_

[FORMAT]

# Número de espacios necesarios cuando una linea
# no terminada continua en otra linea.
indent-after-paren=4

# Las indentaciones se realizarán con el tabulador, no con 4 espacios.
indent-string='    '

# Número máximo de caracteres por línea.
max-line-length=100

[DESIGN]

# Número mámixo de argumentos que puede recibir un método.
max-args=7

# Número máximo de buleanos en un if.
max-bool-expr=6
